* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  height: 100%;
  width: 100%; }

body {
  font: 19px / 27px 'Gotham';
  color: #fff;
  background-size: cover; }

ul,
dl {
  padding: 0;
  list-style: none; }

a {
  display: block;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  animation: load-in 0.25s ease; }
  a:hover {
    font-weight: bold; }

h1 {
  font-size: 2em;
  line-height: 1.2em; }

h2 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 50px; }

.center-text {
  text-align: center; }

.clearfix:after, .event:after, .event-info:after, .date-container:after, .date-container .ooo-container:after {
  content: "";
  display: table;
  clear: both; }

.event-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5vw; }

.event {
  display: block; }
  .event-content {
    float: left;
    max-width: 80%; }
  .event-date {
    font-size: 2.6em;
    line-height: 1em;
    font-weight: 400;
    color: #333; }
    .event-date:first-child {
      color: #6642a0; }
  .event-day {
    font-size: 1em;
    line-height: 1em;
    margin-top: 0.2em;
    color: #9b9bb9; }
  .event-title {
    font-size: 2.5em;
    font-weight: 200;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 3vw; }
  .event-time, .event-location {
    font-size: 1.7em;
    line-height: 1.5em; }
  .event-time {
    font-weight: 500; }
  .event-location {
    color: #999;
    font-weight: 200; }

.event-info {
  width: 90vw;
  padding: 5vw 0 5vw 10vw;
  margin: 0 5vw;
  color: #333;
  background-size: cover;
  border-radius: 5px;
  animation: load-in 1s ease; }

.date-container {
  position: relative;
  display: none;
  width: 90vw;
  margin: 0 5vw;
  padding: 10vw 0 5vw 0;
  font-size: 1.5em;
  border-top: 2px solid #eee;
  animation: load-in 1s ease; }
  .date-container .ooo-container {
    font-size: 12px;
    margin-top: 5vw;
    margin-left: 10vw; }
    .date-container .ooo-container:before {
      position: absolute;
      left: 0;
      content: 'OOO';
      float: left;
      font-size: 2em;
      line-height: 50px;
      margin-right: 2vw; }
  .date-container .ooo-container img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 1vw;
    border-radius: 50%;
    overflow: hidden; }

@keyframes load-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
