* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  height: 100%;
  width: 100%; }

body {
  font: 19px / 27px 'Gotham';
  color: #132033;
  background: #fafafa; }

ul,
dl {
  padding: 0;
  list-style: none; }

a {
  display: block;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  animation: load-in 0.25s ease; }
  a:hover {
    font-weight: bold; }

h1 {
  font-size: 2em;
  line-height: 1.2em; }

h2 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 50px; }

.center-text {
  text-align: center; }

.clearfix:after, .event:after, .event-info:after, .date-container:after {
  content: "";
  display: table;
  clear: both; }

.event-container {
  display: flex;
  flex-direction: column;
  padding: 2.5vw 0; }

.event {
  display: block; }
  .event.all-day .event-info {
    font-size: 8px; }
  .event + .event {
    margin-top: 2.5vw; }
  .event-content {
    float: left;
    max-width: 80%; }
  .event-date {
    font-size: 2.2em;
    line-height: 1em;
    font-weight: 500; }
  .event-day {
    font-size: 1em;
    line-height: 1em;
    margin-top: 0.2em;
    color: #9b9bb9; }
  .event-title {
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 1.5em; }
  .event-time, .event-location {
    font-size: 1.7em;
    line-height: 1.7em; }

.event-info {
  float: right;
  width: 80vw;
  padding: 2.5vw;
  margin-right: 5vw;
  color: #fff;
  background: #009bff;
  border-radius: 5px; }

.date-container {
  width: 15vw;
  font-size: 1.5em;
  float: left;
  text-align: center; }

.portrait {
  float: right;
  width: 100px;
  max-width: 20%;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; }
  .portrait img {
    width: 100%;
    object-fit: cover; }

@keyframes load-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
