$deepblue:  #132033;

* {box-sizing: border-box;}

html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	font: 16px / 15px 'Gotham';
	color: #fff;
	background: $deepblue;
}


ul,
dl {
	padding: 0;
	list-style: none;
}

a {
	display: block;
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
	animation: load-in 0.25s ease;

	&:hover {
		font-weight: bold;
	}
}

h1 {
	font-size: 1em;
	line-height: 1.2em;
}

h2 {
	font-size: 0.7em;
	font-weight: normal;
	margin-bottom: 50px;
}

.center-text {
	text-align: center;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.event-container {
	padding: 2.5vw 5vw;
}

.week-container {
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-transform: uppercase;
	padding: 1vw 1vw;
	@extend .clearfix;

	li {
		width: 20%;
		float: left;
	}

	li + li {
		padding-left: 0.5vw;
	}
}

.date {
	margin-bottom: 1em;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	animation: load-in 0.3s ease-in;
}

.event {
	display: block;
	animation: load-in 0.3s ease-in;
	@extend .clearfix;

	&-info {
		float: right;
		width: 100%;
		padding: 1.5vw;
		color: #fff;
		background: rgb(0,155,255);
		border-radius: 5px;
		@extend .clearfix;
	}

	&-content {
		float: left;
		max-width: 100%;
	}

	&-title {
		width: 100%;
		font-size: 1em;
		font-weight: 500;
		line-height: 1.3em;
		margin-top: 0;
		margin-bottom: 0;
		word-break: break-word;
		text-transform: none;
	}

	&-time,
	&-location {
		font-size: 0.7em;
		line-height: 0.7em;
	}

	&-time {
		margin-top: 1em;
	}

	& + .event {
		margin-top: 0.25vw;
	}
}

.page-cal-left,
.page-cal-right {
	position: absolute;
	top: 50%;
	font-size: 2em;
	cursor: pointer;
	transition: all 0.1s ease-in;

	&:active {
		transform: translate3d(0,5px,0);
	}
}

.page-cal-left {
	left: 2.5vw;
}
.page-cal-right {
	right: 2.5vw;
}

@keyframes load-in {
	0% {
		opacity: 0;
		transform: translate3d(0,10px,0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}