$deepblue:  #132033;
$neatogreen: #50e3c2;

* {box-sizing: border-box;}

html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	font: 19px / 27px 'Gotham';
	color: #fff;
	background: #222;
}


ul,
dl {
	padding: 0;
	list-style: none;
}

a {
	display: block;
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
	animation: load-in 0.25s ease;

	&:hover {
		font-weight: bold;
	}
}

h1 {
	font-size: 2em;
	line-height: 1.2em;
}

h2 {
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 50px;
}

.center-text {
	text-align: center;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.event-container {
	display: flex;
	flex-direction: column;
	padding: 2.5vw 0;
}

.event {
	display: block;
	@extend .clearfix;

	&.all-day .event-info{
		font-size: 8px;
	}

	& + .event {
		margin-top: 2vw;
	}

	&-content {
		float: left;
		max-width: 80%;
	}

	&-date {
		font-size: 2.2em;
		line-height: 1em;
		font-weight: 400;
		color: #fff;

		&:first-child {
			color: $neatogreen;
		}
	}

	&-day {
		font-size: 1em;
		line-height: 1em;
		margin-top: 0.2em;
		color: rgb(155,155,185);
	}

	&-title {
		font-size: 2.5em;
		font-weight: 400;
		line-height: 1.3em;
		margin-top: 0;
		margin-bottom: 5vw;
	}

	&-time,
	&-location {
		font-size: 1.7em;
		line-height: 1.5em;
	}

	&-time {
		font-weight: 500;
	}

	&-location {
		color: #999;
	}

}

.event-info {
	width: 90vw;
	padding: 2.5vw;
	margin: 0 5vw;
	color: #fff;
	border: 2px solid #444;
	background-size: cover;
	border-radius: 5px;
	@extend .clearfix;
}

.date-container {
	display: none;
	width: 90vw;
	margin: 5vw 5vw;
	font-size: 1.5em;
	border-bottom: 2px solid #444;
	// text-align: center;
	@extend .clearfix;

	.ooo-container {
		font-size: 12px;
		margin: 3vw 0;
		@extend .clearfix;

		&:before {
			content: 'OOO';
			float: left;
			font-size: 2em;
			line-height: 50px;
			margin-right: 2vw;
		}
	}

	.ooo-container img {
		float: left;
		width: 50px;
		height: 50px;
		margin-right: 1vw;
		border-radius: 50%;
		overflow: hidden;
	}
}

.portrait {
	float: right;
	width: 100px;
	max-width: 20%;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;

	img {
		width: 100%;
		object-fit: cover;
	}
}

@keyframes load-in {
	0% {
		opacity: 0;
		transform: translate3d(0,10px,0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}